<div id="welcome-splash" class="splash">
  <%= image_tag '/assets/store/winter_shirts.png', class: 'scale-with-grid', alt: 'Summer Shirts', title: 'Summer Shirts' %>
</div>
<div id="welcome-message">
  <div class="container">
    <h1>
      <%= link_to "Texas' Premier Fishing Apparel", '/about' %>
    </h1>
  </div>
</div>