<div id="welcome-splash" class="splash">
  <%= image_tag '/assets/store/spring_gear_2015.jpg', class: 'scale-with-grid', alt: 'Spring Gear', title: 'Spring Gear' %>
</div>
<div id="welcome-message">
  <div class="container">
    <h1>
      <%= link_to "Texas' Premier Fishing Apparel", '/about' %>
    </h1>
  </div>
</div>