<div id="about-message" class="splash">
  <%= image_tag '/assets/store/sport_your_passions.png', class: 'scale-with-grid' %>
</div>

<h1>Our Company</h1>
 
<p>Hailing from the Texas Coastal Bend, home to endless angling opportunities for trophy trout fishing and redfish sightcasting, Reel Sportswear brings the attitude, passion and comfort to any fishing adventure.</p>
 
<p>Our apparel products use the highest grade materials available in the industry and infuse them with distinctive original designs that complement the lifestyle of today’s fishermen, boaters, and outdoor fanatics.</p>
 
<h3>“Sport your passion”</h3>
 
<p>Reel Sportswear has molded its conviction into every product and believes that true passion is built on reliability, comfort, detail, and the customer. Our products command both performance and durability and combine the “go get 'em” attitude with superior design features.</p>
 
<h3>What we offer</h3>
 
<p>The insignia of Reel Sportswear represents passion for the outdoor lifestyle and provides an extensive selection of REEL clothing options. Our original Tee’s come in Men’s, Women’s, and Children’s sizes and include an assortment of colors and patterns. The original Tee’s are perfect for a day on the water, at the beach or any adventure on and off shore. The serious fisherman would approve of our technical and performance shirts that offer a unique style and provide unmatched comfort, durability, and coolness.</p>
 
<h3>Our Customer Satisfaction Guarantee</h3>
 
<p>Reelsportswear.com prioritizes its customer satisfaction at the top. This guarantee promises to assure our customers paramount service and an unsurpassed shopping experience. Our team of professionals are readily available during business hours (8am-5pm Mon-Sat Central Time) to answer any questions you might have. If you need more information, please contact our customer service team.</p>
 
<h3>Reel Sportswear & CCA Texas</h3>
 
<p>Reel Sportswear is dedicated to serving its local community and environment in conservation of marine resources and reduction of environmental impact. Our company firmly believes that by educating, conserving and promoting the present and future of our natural marine resources, we can preserve a sustainable future for the sport of fishing and the wildlife that we share our home with. Reel Sportswear has joined efforts with CCA Texas in hopes of forging a bond between our customers and our waterways. To help, Reel Sportswear donates 5% of gross sales to CCA Texas.
Help Reel Sportswear and CCA Texas preserve and promote conservation of our marine resources by joining the CCA. For more information please visit www.ccatexas.org</p>

<div class='three columns'>
  <p><%= image_tag '/assets/store/cca_logo.png' %></p>
</div>
<div class='seven columns' style='padding-top: 70px;'>
  <h4><%= link_to 'Join Now', 'http://www.ccamembership.org/' %></h4>
  <h4><%= link_to 'Donate Today', 'https://www.ccamembership.org/store/?store-action=show-cart-full&cart-action=donation&cart-dlock=1' %></h4>
</div>