/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *

 *= require store/spree_frontend

 *= require_self
 *= require_tree .
*/
@import 'variables';

nav #main-nav-bar {
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  border-bottom: none;
  padding-bottom: 6px;

  li {

    a {
      font-size: $horizontal_navigation_font_size;
      padding: 5px;
    }

    &:first-child {
      a {
        padding-left: 0;
      }
    }

    &#link-to-cart {
      float: none;
      padding-left: 24px;
      background: asset-url("store/cart.png") no-repeat left center;

      &:hover {
        border-color: $link_text_color;

        .amount {
          border-color: $link_text_color;
        }
      }

      a {
        font-weight: normal;
        font-size: $horizontal_navigation_font_size;
        color: $link_text_color;

        .amount {
          font-size: $horizontal_navigation_font_size + 2;
          font-weight: bold;
          border-left: $default_border;
          padding-left: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
}
table thead {
  background-color: black;
}

table tbody tr {
  border-bottom: 1px solid black;
}

table tbody tr.alt {
  background-color: black;
}

footer#footer {
  border-top: 1px solid black;
}

ul#products li a.info {
  border-bottom: 1px solid black;
}

nav #main-nav-bar li#link-to-cart {
  padding-left: 0px;
  background: none;
}

table tbody tr.odd {
  background: black;
}

#product-properties {
  border: 1px solid black;
}

#product-description .product-title {
  border-bottom: 1px solid black;
}

.pagination {
  display: none;
}

#shipping_method {
  border: 1px solid black;
}

#shipping_method .stock-location {
  background: black;
  color: #77c17e;
}

#shipping_method table.stock-contents thead {
  background: black;
}

#shipping_method .stock-shipping-method-title {
  background-color: black;
}

#checkout-summary {
  border: 1px solid black;
}

#checkout-summary h3 {
  border-bottom: 1px solid black;
}

#order_details {
  border: 1px solid black;
}

hr {
  border-bottom: 1px solid black;
}

#order_details .steps-data h6 {
  border-bottom: 1px solid black;
}

#order_details table tfoot#order-total tr {
  border-top: 1px solid black;
}

.progress-steps li.current {
  background: #77c17e;
  border-bottom: 5px solid #5E9964;
}

.progress-steps li.completed {
  background: #77c17e;
}

.progress-steps li.completed-first {
  background: #77c17e;
}

.errorExplanation {
  background: #a22929
}

#welcome-message {
  text-align: center;
  margin-top: 20px;
  h1 {
    font-weight: 400;
    }
}

.welcome-price {
  display: block;
}

.welcome-product {
  text-align: center;
}
