<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns">
      <h5>Contact Us</h5>
      <div class="phone">
        <a href="callto:012341234567">361.589.9670</a>
        </div>
      <br>
      <div class="email">
        <a href="mailto:andrew@reelsportswear.om">sales@reelsportswear.om</a>
      </div>
      <br>
      <div class="address">
        Corpus Christi, TX
      </div>
    </div>
    
    <div class="four columns">
      <h5>Our Site</h5>
      <ul>
        <li><a href="/products">Shop</a></li>
        <li><a href="/products">About</a></li>
        <li><a href="/products">Contact Us</a></li>
      </ul>
    </div>
    

    
    <div class="eight columns">
      <h5>Powered By</h5>
      <p>
        <%= link_to 'http://losttie.com/' do %>
          <%= image_tag '/assets/lost_tie_logo.png' %>
        <% end %>
      </p>
    </div>
    
  </div>
</footer>